body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin-top: 16px;
}

#name-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}
