body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  font-weight: 500;
  color: #fff;
  background: #4e75ff;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 148px;
  height: 40px;
  border: none;
  letter-spacing: 0.04em;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}
