body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin-top: 0;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-list li {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding: 8px 16px;
}

.item {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
