body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 8px;
}

button {
  font-weight: 500;
  background: #4e75ff;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  letter-spacing: 0.04em;
  width: 86px;
  height: 40px;
  color: #fff;
  border: none;
  margin-top: 8px;
}

input,
label {
  display: block;
}
